{% extends "base.html" %} <!-- Наследует шаблон base.html из папки main -->
{% load static %}

{% block content %}
<div class="container mt-5"> <!-- Создаёт контейнер с отступом сверху -->
    <div class="card mb-4 custom-shadow"> <!-- Определяет карточку с отступом снизу -->
        <div class="row"> <!-- Создаёт строку, которая содержит элементы в колонках -->
            <!-- Миниатюры -->
            <div class="col-md-4"> <!-- Колонка шириной в 4 колонки из 12, содержащая миниатюру изображения с Bootstrap -->
                <img src="{{ product.image.url }}"
                    class="img-thumbnail" data-bs-toggle="modal" data-bs-target="#imageModal1">
            </div>
            <div class="col-md-4"> <!-- Вторая колонка шириной в 4 колонки, где указан идентификатор товара -->
                <p class="product_id mt-3">id: {{ product.display_id }}</p>
            </div>
            <!-- Увеличить изображение в модальном окне -->
            <!-- Модальное окно, которое открывается при клике по миниатюре -->
            <div class="modal fade" id="imageModal1" tabindex="-1"
                aria-labelledby="imageModal1Label" aria-hidden="true">
                <div class="modal-dialog modal-lg"> <!-- задаёт большой размер окна -->
                    <div class="modal-content"> <!-- основной контент модального окна, включая заголовок окна и кнопку закрытия -->
                        <div class="modal-header">
                            <h5 class="modal-title" id="imageModal1Label">{{ product.name }}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Закрыть"></button>
                        </div>
                        <div class="modal-body"> <!-- основная часть окна с изображением в полном размере -->
                            <img src="{{ product.image.url }}"
                                class="img-fluid" alt="Изображение 1">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Описание товара -->
        <div class="card-body">
            <p class="card-text">Цена: <strong>{{ product.sell_price }} </strong></p>
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text">{{ product.description }}</p>
            <a href="#" class="btn btn-dark add-to-cart">Добавить в корзину</a>
        </div>
    </div>
</div>
{% endblock %}